In [1]:
import pandas as pd

# THE .DT ACCESSOR

In [35]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end= "2010-01-01", freq= "24D")

In [36]:
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2009-05-25', '2009-06-18', '2009-07-12', '2009-08-05',
               '2009-08-29', '2009-09-22', '2009-10-16', '2009-11-09',
               '2009-12-03', '2009-12-27'],
              dtype='datetime64[ns]', length=153, freq='24D')

In [37]:
s = pd.Series(bunch_of_dates)

In [38]:
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [39]:
s.dt.weekday_name.head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [40]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [41]:
s.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [42]:
s.dt.month.head()

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [43]:
s.dt.daysinmonth.head()

0    31
1    31
2    29
3    31
4    30
dtype: int64

In [44]:
s.dt.weekofyear.head()

0    52
1     4
2     7
3    11
4    14
dtype: int64

In [47]:
mask2 = s.dt.is_month_end
s[mask2]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
dtype: datetime64[ns]