In [1]:
import pandas as pd
import datetime as dt

In [2]:
birth_day = dt.date(2018, 10, 5)

In [3]:
birth_day

datetime.date(2018, 10, 5)

In [4]:
birth_day.year

2018

In [5]:
birth_day.month

10

# dt.datetime(yy,mm,dd,hr,min,sec)
# use military time

In [6]:
str(dt.datetime(1992,10,5,13,55,20))

'1992-10-05 13:55:20'

In [7]:
str(dt.date(2018, 10, 5))

'2018-10-05'

In [8]:
birth_day.year

2018

In [9]:
birth_day.month

10

In [10]:
birth_day.day

5

In [11]:
birth = dt.datetime(1992,10,5,13,55,20)

In [12]:
birth.hour

13

In [13]:
birth.minute

55

In [14]:
birth.second

20

# PANDAS TIMESTAMP OBJECT

# timestamp is basically pandas way of doing date time

# use miltary time/ if no time specified the default is 00:00:00

# pandas is very smart its understands all formats of date - , / -

In [15]:
pd.Timestamp("1992/10/05")
pd.Timestamp("1992-10-05")
pd.Timestamp("1992,10,05")

Timestamp('1992-05-01 00:00:00')

# the above statements are all correct

In [16]:
pd.Timestamp("1992/10/05 6:15:30 PM")
pd.Timestamp("1992/10/05 18:15:30")

Timestamp('1992-10-05 18:15:30')

# THE PANDAS DATETIME INDEX OBJECT

# collection of pandas timestamp

In [17]:
dates = ["1992/10/05" , "1992/11/05", "1992/12/05", "1992/12/05"]
pd.DatetimeIndex(dates)

DatetimeIndex(['1992-10-05', '1992-11-05', '1992-12-05', '1992-12-05'], dtype='datetime64[ns]', freq=None)

In [18]:
dates = [dt.date(1992,10,5) , dt.date(1992,10,5), dt.date(1992,10,5), dt.date(1992,10,5)]
pd.DatetimeIndex(dates)

DatetimeIndex(['1992-10-05', '1992-10-05', '1992-10-05', '1992-10-05'], dtype='datetime64[ns]', freq=None)

In [19]:
values =[100,200,300]

# pd.to_DATETIME METHOD

# called directly on pandas

In [20]:
pd.to_datetime("2019-01-01")

Timestamp('2019-01-01 00:00:00')

In [21]:
pd.to_datetime("2018/01/01")

Timestamp('2018-01-01 00:00:00')

In [22]:
pd.to_datetime(["2018-01-01","2019-01-01","July 4 1966","2016/3/18"])

DatetimeIndex(['2018-01-01', '2019-01-01', '1966-07-04', '2016-03-18'], dtype='datetime64[ns]', freq=None)

# also give it a datetime object

In [23]:
pd.to_datetime(dt.datetime(2017,1,1,14,35,20))

Timestamp('2017-01-01 14:35:20')

# most common use in real life is converting an existing pandas series into timestamp object

In [24]:
time = pd.Series(["2018-01-01","2019-01-01","July 4 1966","2016/3/18"])

In [25]:
pd.to_datetime(time)

0   2018-01-01
1   2019-01-01
2   1966-07-04
3   2016-03-18
dtype: datetime64[ns]

# datetime can create problem if there are errors in data

# funky series below:

In [26]:
dates = pd.Series(["2018-1-1","2019-1-1","July 4 1966","2016/3/18","Hello","31-2-2017"])

In [27]:
pd.to_datetime(dates,errors="coerce")

0   2018-01-01
1   2019-01-01
2   1966-07-04
3   2016-03-18
4          NaT
5          NaT
dtype: datetime64[ns]

# you can set errors to raise or just put COERCE that way it will raise all errors as NAT instead of stopping the code from errors

# CREATE RANGE OF DATES WITH PD.DATE_RANGE() METHOD - PART 1

In [28]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-10",freq="D")

In [29]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [30]:
times[0]

Timestamp('1992-10-01 00:00:00', freq='D')

In [31]:
times

DatetimeIndex(['1992-10-01', '1992-10-02', '1992-10-03', '1992-10-04',
               '1992-10-05', '1992-10-06', '1992-10-07', '1992-10-08',
               '1992-10-09', '1992-10-10'],
              dtype='datetime64[ns]', freq='D')

# there are several options under freq parameter :

In [32]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-10",freq="3D")

In [33]:
times

DatetimeIndex(['1992-10-01', '1992-10-04', '1992-10-07', '1992-10-10'], dtype='datetime64[ns]', freq='3D')

In [34]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-10",freq="B")

# freq = "B" will give only business days and exclude weekends

In [35]:
times

DatetimeIndex(['1992-10-01', '1992-10-02', '1992-10-05', '1992-10-06',
               '1992-10-07', '1992-10-08', '1992-10-09'],
              dtype='datetime64[ns]', freq='B')

In [36]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-15",freq="W")

# Freq = "W" gives you one day per week and the default is set to sunday

In [37]:
times

DatetimeIndex(['1992-10-04', '1992-10-11'], dtype='datetime64[ns]', freq='W-SUN')

In [38]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-20",freq="W-FRI")

In [39]:
times

DatetimeIndex(['1992-10-02', '1992-10-09', '1992-10-16'], dtype='datetime64[ns]', freq='W-FRI')

In [40]:
times = pd.date_range(start = "1992/10/1", end= "1992-10-15",freq="H")

In [41]:
times

DatetimeIndex(['1992-10-01 00:00:00', '1992-10-01 01:00:00',
               '1992-10-01 02:00:00', '1992-10-01 03:00:00',
               '1992-10-01 04:00:00', '1992-10-01 05:00:00',
               '1992-10-01 06:00:00', '1992-10-01 07:00:00',
               '1992-10-01 08:00:00', '1992-10-01 09:00:00',
               ...
               '1992-10-14 15:00:00', '1992-10-14 16:00:00',
               '1992-10-14 17:00:00', '1992-10-14 18:00:00',
               '1992-10-14 19:00:00', '1992-10-14 20:00:00',
               '1992-10-14 21:00:00', '1992-10-14 22:00:00',
               '1992-10-14 23:00:00', '1992-10-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [42]:
pd.date_range(start = "1992/10/1", end= "1992-10-15",freq="6H")

DatetimeIndex(['1992-10-01 00:00:00', '1992-10-01 06:00:00',
               '1992-10-01 12:00:00', '1992-10-01 18:00:00',
               '1992-10-02 00:00:00', '1992-10-02 06:00:00',
               '1992-10-02 12:00:00', '1992-10-02 18:00:00',
               '1992-10-03 00:00:00', '1992-10-03 06:00:00',
               '1992-10-03 12:00:00', '1992-10-03 18:00:00',
               '1992-10-04 00:00:00', '1992-10-04 06:00:00',
               '1992-10-04 12:00:00', '1992-10-04 18:00:00',
               '1992-10-05 00:00:00', '1992-10-05 06:00:00',
               '1992-10-05 12:00:00', '1992-10-05 18:00:00',
               '1992-10-06 00:00:00', '1992-10-06 06:00:00',
               '1992-10-06 12:00:00', '1992-10-06 18:00:00',
               '1992-10-07 00:00:00', '1992-10-07 06:00:00',
               '1992-10-07 12:00:00', '1992-10-07 18:00:00',
               '1992-10-08 00:00:00', '1992-10-08 06:00:00',
               '1992-10-08 12:00:00', '1992-10-08 18:00:00',
               '1992-10-09 00:00:00', '1992-10-09 06:00:00',
               '1992-10-09 12:00:00', '1992-10-09 18:00:00',
               '1992-10-10 00:00:00', '1992-10-10 06:00:00',
               '1992-10-10 12:00:00', '1992-10-10 18:00:00',
               '1992-10-11 00:00:00', '1992-10-11 06:00:00',
               '1992-10-11 12:00:00', '1992-10-11 18:00:00',
               '1992-10-12 00:00:00', '1992-10-12 06:00:00',
               '1992-10-12 12:00:00', '1992-10-12 18:00:00',
               '1992-10-13 00:00:00', '1992-10-13 06:00:00',
               '1992-10-13 12:00:00', '1992-10-13 18:00:00',
               '1992-10-14 00:00:00', '1992-10-14 06:00:00',
               '1992-10-14 12:00:00', '1992-10-14 18:00:00',
               '1992-10-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

# H gives every hour 
# 6H gives every 6th hour
# M gives the month ends

# example:

In [43]:
times = pd.date_range(start = "1992/1/1", end= "1992-12-31",freq="M")

In [44]:
times

DatetimeIndex(['1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30',
               '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31',
               '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31'],
              dtype='datetime64[ns]', freq='M')

# above example gave us the month ends

# freq = "MS"  - means MONTH START

In [45]:
times = pd.date_range(start = "2018/01/01", end= "2019-01-01",freq="MS")

In [46]:
times

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01'],
              dtype='datetime64[ns]', freq='MS')

# freq = "A" will give you last day of each year

In [47]:
times = pd.date_range(start = "1992/1/1", end= "2019/1/1",freq="A")

In [48]:
times

DatetimeIndex(['1992-12-31', '1993-12-31', '1994-12-31', '1995-12-31',
               '1996-12-31', '1997-12-31', '1998-12-31', '1999-12-31',
               '2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31',
               '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# CREATE RANGE OF DATES WITH PD.DATE_RANGE() METHOD PART 2

# period - number of time stamps we want to generate

In [50]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

# B will not include weekends it means only business days
# A means last date of the year
# W for weeks

In [52]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [54]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "W-SUN")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [55]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "W-FRI")

DatetimeIndex(['2012-09-14', '2012-09-21', '2012-09-28', '2012-10-05',
               '2012-10-12', '2012-10-19', '2012-10-26', '2012-11-02',
               '2012-11-09', '2012-11-16', '2012-11-23', '2012-11-30',
               '2012-12-07', '2012-12-14', '2012-12-21', '2012-12-28',
               '2013-01-04', '2013-01-11', '2013-01-18', '2013-01-25',
               '2013-02-01', '2013-02-08', '2013-02-15', '2013-02-22',
               '2013-03-01'],
              dtype='datetime64[ns]', freq='W-FRI')

In [57]:
pd.date_range(start = "2012-09-09", periods= 30, freq= "MS")
# MS month start

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01'],
              dtype='datetime64[ns]', freq='MS')

In [60]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "H")
# H generates hours

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [61]:
pd.date_range(start = "2012-09-09", periods= 25, freq= "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

# CREATE RANGE OF DATES WITH THE PD.DATE_RANGE METHOD PART 3

In [62]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# when you start with END parameter it takes you back one day at a time

In [63]:
pd.date_range(end= "1999-12-31", periods= 40, freq= "D")

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "B")
# business days

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [67]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "H")
# H is hours

DatetimeIndex(['1999-12-30 05:00:00', '1999-12-30 06:00:00',
               '1999-12-30 07:00:00', '1999-12-30 08:00:00',
               '1999-12-30 09:00:00', '1999-12-30 10:00:00',
               '1999-12-30 11:00:00', '1999-12-30 12:00:00',
               '1999-12-30 13:00:00', '1999-12-30 14:00:00',
               '1999-12-30 15:00:00', '1999-12-30 16:00:00',
               '1999-12-30 17:00:00', '1999-12-30 18:00:00',
               '1999-12-30 19:00:00', '1999-12-30 20:00:00',
               '1999-12-30 21:00:00', '1999-12-30 22:00:00',
               '1999-12-30 23:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [68]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "W-FRI")

DatetimeIndex(['1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [69]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "W")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [71]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "MS")
# MS is month start

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [72]:
pd.date_range(end= "1999-12-31", periods= 20, freq= "A")

DatetimeIndex(['1980-12-31', '1981-12-31', '1982-12-31', '1983-12-31',
               '1984-12-31', '1985-12-31', '1986-12-31', '1987-12-31',
               '1988-12-31', '1989-12-31', '1990-12-31', '1991-12-31',
               '1992-12-31', '1993-12-31', '1994-12-31', '1995-12-31',
               '1996-12-31', '1997-12-31', '1998-12-31', '1999-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [74]:
pd.date_range(end= "1999-12-31", periods= 50, freq= "7D")

DatetimeIndex(['1999-01-22', '1999-01-29', '1999-02-05', '1999-02-12',
               '1999-02-19', '1999-02-26', '1999-03-05', '1999-03-12',
               '1999-03-19', '1999-03-26', '1999-04-02', '1999-04-09',
               '1999-04-16', '1999-04-23', '1999-04-30', '1999-05-07',
               '1999-05-14', '1999-05-21', '1999-05-28', '1999-06-04',
               '1999-06-11', '1999-06-18', '1999-06-25', '1999-07-02',
               '1999-07-09', '1999-07-16', '1999-07-23', '1999-07-30',
               '1999-08-06', '1999-08-13', '1999-08-20', '1999-08-27',
               '1999-09-03', '1999-09-10', '1999-09-17', '1999-09-24',
               '1999-10-01', '1999-10-08', '1999-10-15', '1999-10-22',
               '1999-10-29', '1999-11-05', '1999-11-12', '1999-11-19',
               '1999-11-26', '1999-12-03', '1999-12-10', '1999-12-17',
               '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='7D')