In [30]:
import pandas as pd
import numpy as np

In [31]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [32]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
# number of observations in the dataset?

chipo.shape[0]

4622

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [8]:
# number of columns

chipo.shape[1]

5

In [9]:
# Print the name of all the columns.

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
# dataset index

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
# Which was the most-ordered item
# For the most-ordered item, how many items were ordered?Â¶

c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [12]:
# most ordered item in the choice_description column

choice = chipo.groupby('choice_description').sum()
choice = choice.sort_values(['quantity'],ascending=False)
choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [13]:
# How many items were orderd in total

total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [14]:
# turn the item price into a float
# Check the item price type
# Create a lambda function and change the type of item price

chipo.item_price.dtype

dtype('O')

In [21]:
chipo.quantity.map(lambda juhi: 2 * juhi + 1).head()

0    3
1    3
2    3
3    3
4    5
Name: quantity, dtype: int64

In [25]:
chipo["item_price"] = chipo.item_price.map(lambda x: float(x.strip("$")))

In [26]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [29]:
# How much was the revenue for the period in the dataset?

revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue:"+ str(np.round(revenue,2)))

Revenue:39237.02

In [ ]:
# How many orders were made in the period?Â¶

orders = chipo.order_id.value_counts().count()
orders

In [ ]:
# How many different items are sold

items_sold = chipo.item_name.value_counts().count()
items_sold

# excel writer

In [37]:
df = pd.DataFrame(chipo)

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('chipo_data.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, index =False,sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()