In [1]:
import pandas as pd

In [2]:
# Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url,sep = '\t')

In [4]:
# # clean the item_price column and transform it in a float
# reassign the column with the cleaned prices

chipo["item_price"] = chipo.item_price.map(lambda x: float(x.strip("$")))

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [6]:
# delete the duplicates in item_name and quantity

chipo_filtered = chipo.drop_duplicates(["item_name","quantity"])

In [7]:
# # select only the products with quantity equals to 1

quantity_filtered = chipo_filtered[chipo_filtered.quantity == 1]
quantity_filtered.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

In [8]:
# print a data frame with only two columns item_name and item_price
# What is the price of each item 

chipo[["item_name","item_price"]].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

In [9]:
# Sort by the name of the itemÂ¶

items_sorted = chipo.sort_values('item_name')
items_sorted.head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

In [10]:
# What was the quantity of the most expensive item ordered

In [11]:
chipo.sort_values(by = "item_price", ascending = False).head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

In [15]:
# How many times were a Veggie Salad Bowl ordered?

chipo_salad = chipo[chipo["item_name"] == "Veggie Salad Bowl"]
len(chipo_salad)

18

In [21]:
# How many times people orderd more than one Canned Soda

chipo_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_soda)

20