In [1]:
# import pandas check version

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.0'

In [4]:
# Create a pandas series from each of the items below: a list, numpy and a dictionary

In [5]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [17]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [ ]:
# Convert the series ser into a dataframe with its index as another column on the dataframe.

In [18]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [20]:
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [21]:
# Combine ser1 and ser2 to form a dataframe

In [22]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [32]:
df = pd.concat({'col_1':ser1,'col_2':ser2},axis = 1)
df.head()

  col_1  col_2
0     a      0
1     b      1
2     c      2
3     e      3
4     d      4

In [33]:
# alternate solution

In [35]:
df = pd.concat([ser1,ser2],axis=1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [29]:
# Give a name to the series ser calling it ‘alphabets’

In [39]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'),name = 'Alphabets')
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: Alphabets, dtype: object

In [40]:
# get the items of series A not present in series B

In [41]:
# From ser1 remove items present in ser2.

In [42]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [43]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [46]:
# Get all items of ser1 and ser2 not common to both

In [53]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [56]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# INTERSECTION AND UNION - EXAMPLES

In [48]:
# intersection

#This returns a new Index with elements common to the index, while maintaining the order

In [50]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])
idx1.union(idx2)

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [51]:
# Form the union of two Index objects and sorts if possible

In [52]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])
idx1.union(idx2)

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [57]:
# Compute the minimum, 25th percentile, median, 75th, and maximum of ser