In [1]:
import pandas as pd
import numpy as np

# FOR LOOPS

In [2]:
dog = ['Freddie', 9, True, 1.1, 2001, ['bone', 'little ball']]

In [3]:
for i in dog:
    print(i)

Freddie
9
True
1.1
2001
['bone', 'little ball']

In [4]:
numbers = [1, 5, 12, 91, 102]

In [5]:
for i in numbers:
    print(i*i)

1
25
144
8281
10404

# for and in are Python keywords and numbers is the name of our list

# i variable. It’s a “temporary” variable and its only role is to store the given element of the list that we will work with in the given iteration of the loop.

# don’t forget that you have to refer to it when you want to use it inside the loop

# iterate through strings

In [6]:
mylist = ["hello world"]

In [7]:
for i in mylist:
    print(i)

hello world

# iterate through range

In [8]:
myrange = range(1,10)

for i in myrange:
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
myrange1 = range(1,20,2)

for i in myrange1:
    print(i)

1
3
5
7
9
11
13
15
17
19

# count the number of even and odd numbers from a series of numbers

# number divided by 2 = 0 even
# number divided by 2 != 0 odd

In [10]:
# Declaring the tuple

In [11]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
count_odd = 0
count_even = 0

for x in numbers:
    if not x % 2:
        count_even = count_even + 1
    else:
        count_odd = count_odd + 1
        
count_odd

5

In [12]:
# prints each item and its corresponding type from the following list.

datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [13]:
for item in datalist:
    print("The datatype for", item, "in the datalist:", type(item))

The datatype for 1452 in the datalist: <class 'int'>
The datatype for 11.23 in the datalist: <class 'float'>
The datatype for (1+2j) in the datalist: <class 'complex'>
The datatype for True in the datalist: <class 'bool'>
The datatype for w3resource in the datalist: <class 'str'>
The datatype for (0, -1) in the datalist: <class 'tuple'>
The datatype for [5, 12] in the datalist: <class 'list'>
The datatype for {'class': 'V', 'section': 'A'} in the datalist: <class 'dict'>

# prints all the numbers from 0 to 6 except 3 and 6

In [14]:
for x in range(0,6):
    if (x == 3 or x == 6):
        continue
    print(x)

0
1
2
4
5

# program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [15]:
for integers in range(0,50):
    if integers % 3 == 0 and integers % 5 == 0:
        print("FizzBuzz")
        continue
    elif integers % 3 == 0:
        print("Fizz")
        continue
    elif integers % 5 == 0:
        print("Buzz")
        continue
    print("FizzBuzz")

FizzBuzz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz
Buzz
Fizz
FizzBuzz
FizzBuzz
Fizz
Buzz
FizzBuzz
Fizz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
FizzBuzz
Fizz
FizzBuzz

# continue forces the loop to start at the next iteration while pass means "there is no code to execute here"

# program that accepts a string and calculate the number of digits and letters

In [16]:
mystring = input("Enter a string:")

digit = letter = 0


for x in mystring:
    if x.isdigit():
        digit = digit + 1
    elif x.isalpha():
        letter = letter + 1
    else:
        pass

print("Number of digit:",digit)
print("Number of letters:",letter)

Enter a string:7
Number of digit: 1
Number of letters: 0

# print alphabet pattern 'T'

In [17]:
result_str=""
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 3 or (row == 0 and column > 0 and column <6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *****
   *
   *
   *
   *
   *
   *

In [18]:
my_string = ""

for row in range(0,7):
    for column in range(0,7):
        if (column == 0 or (row == 6 and column > 0 and column < 6) ):
            my_string = my_string + "*"
        else:
            my_string = my_string + ""
    my_string = my_string + "\n"
print(my_string)

*
*
*
*
*
*
******

In [3]:
my_string = ""

for row in range(0,7):
    for column in range(0,7):
        if (((column == 1 or column == 5) and row != 6 or (row == 6 and column > 1 and column < 5))):
            my_string = my_string + "*"
        else:
            my_string = my_string + " "
    my_string = my_string + "\n"
print(my_string)

 *   *
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [48]:
mystring = ""

for row in range(0,7):
    for column in range(0,7):
        if((column == 0 or column == 5)and row!= 6 or (row == 0 and (column > 0 and column < 5)) or (row == 6 and (column > 0 and column < 5))):
            mystring = mystring + "*"
        else:
            mystring = mystring + " "
    mystring = mystring + "\n"
print(mystring)

******
*    *
*    *
*    *
*    *
*    *
 ****

In [52]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

# check whether an alphabet is a vowel or consonant

In [20]:
l = input("Input a letter of the alphabet: ")

if l.lower() in ('a', 'e', 'i', 'o', 'u'):
    print("%s vowel." % l)
elif l == 'y':
    print("Sometimes letter y stand for vowel, sometimes stand for consonant.")
else:
    print("%s consonant." % l)

Input a letter of the alphabet: j
j consonant.

In [21]:
char=input('Enter the alphapets to check vowel or not:')

if char in ('aeiouAEIOU'):
    print(char,'is vowel')
elif char == 'y':
    print(char, "is sometimes vowel, sometimes consonant")
else:
    print(char,'is not vowel')

Enter the alphapets to check vowel or not:g
g is not vowel

# convert month name to a number of days.

In [22]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")

List of months: January, February, March, April, May, June, July, August, September, October, November, December

In [27]:
month_name = input("Input month name:")

if month_name == 'Febraury':
    print("28/29 days")
elif month_name in ("April","June","September","November"):
    print("30 days")
elif month_name in ("January","March","May","July","August","October","December"):
    print("31 days") 
else:
    print("Incorrect month input")

Input month name:January
31 days

In [31]:
calendar = {"January": 31, 
            "February": 28, 
            "March": 31, 
            "April": 30, 
            "May": 31,
            "June": 30, 
            "July": 31, 
            "August": 31, 
            "September": 30, 
            "October": 31,
            "November": 30, 
            "December":31}
month = input("Month: ")

if month in calendar:
    print(calendar[month])
else:
    print("Error")

Month: March
31

# check a string represent an integer or not

In [58]:
myinteger = input("Enter a number:")

for num in myinteger:
    if num.isdigit():
        continue
    else:
        print("Please enter only integer")
    break
print(myinteger, "is not an integer")

Enter a number:juhi
Please enter only integer
juhi is not an integer

In [4]:
print("Enter lengths of triangle side:")

x = int(input("Enter length of x:"))
y = int(input("Enter length of y:"))
z = int(input("Enter length of z:"))

if x == y == z:
    print("Equailateral triangle")
elif x == y or y == z or z == x:
    print("Isoceles triangle")
else:
    print("Scalene triangle")

Enter lengths of triangle side:
Enter length of x:5
Enter length of y:5
Enter length of z:6
Isoceles triangle

# reads two integers representing a month and day and prints the season for that month and day.

In [16]:
month = input("Month: ")
season_dict = {"Spring": ["March", "April", "May"], 
               "Summer": ["June", "July", "August"], 
               "Autumn": ["September", "October", "November"], 
               "Winter": ["December", "January", "February"]}

for key, value in season_dict.items():
    for i in value:
        if month in i:
            print(key)

Month: October
Autumn

In [1]:
month = input("Input the month (e.g. January, February etc.): ")

if month in ("January","Febraury","March"):
    season = 'winter'
elif month in ("April","May","June"):
    season = 'spring'
elif month in ('July','August','September'):
    season = 'Summer'
else:
    season = 'Autumn'
print(season)

Input the month (e.g. January, February etc.): March
winter

In [3]:
num_list = []


while True:
    n = int(input('input a number: '))
    if n == 0:
        break
    num_list.append(n)

sum_num = sum(num_list) # sum of num_list
ave_num = sum_num / len(num_list) # sum/total numbers

print('The sum is: {}, and the average is: {}'.format(sum_num, ave_num))

input a number: 34
input a number: 33
input a number: 0
The sum is: 67, and the average is: 33.5

In [5]:
for i in range(0,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# WHILE LOOPS

In [18]:
count = 0
while True:
    print (count)
    count = count + 1
    if count >= 10:
        break

0
1
2
3
4
5
6
7
8
9

In [20]:
count = 1
while count<10:
    print("i am a while loop and my count is",count)
    count = count + 1

i am a while loop and my count is 1
i am a while loop and my count is 2
i am a while loop and my count is 3
i am a while loop and my count is 4
i am a while loop and my count is 5
i am a while loop and my count is 6
i am a while loop and my count is 7
i am a while loop and my count is 8
i am a while loop and my count is 9

In [30]:
# Fill in the condition

num = 0

while num < 10:
    # Print num squared
    print (num ** 2)
    
    # Increment num (make sure to do this!)
    num = num + 1

0
1
4
9
16
25
36
49
64
81

In [36]:
friends = ['joseph','jenny','juhi','johana']

for friend in friends:
    print("Happy new year",friend)

Happy new year joseph
Happy new year jenny
Happy new year juhi
Happy new year johana

# ENUMERATE FUNCTION



# for-each style of iteration is that you don't know the index of the thing you're looking at

# at times it is useful to know how far into the list you are. Thankfully the built-in enumerate function helps with this

In [43]:
choices = ['pizza', 'pasta', 'salad', 'nachos']
print("Your choices are:")

for index, item in enumerate(choices):
    print(index,item)

Your choices are:
0 pizza
1 pasta
2 salad
3 nachos

In [44]:
lucky_num = [23, 43, 83, 103]
print("Todays lucky numbers are:")

for index, num in enumerate(lucky_num):
    print(index,num)

Todays lucky numbers are:
0 23
1 43
2 83
3 103

# ZIP FUNCTION

# It's also common to need to iterate over two lists at once. it can handle three or more lists as well.This is where the built-in zip function comes in handy.

In [48]:
list_a = [3, 9, 17, 15, 19,66,89,77]
list_b = [2, 4, 8, 10, 30, 40, 50, 60]

In [49]:
for a, b in zip(list_a, list_b):
    if a>b:
        print (a)
    else:
        print (b)

3
9
17
15
30
66
89
77

In [ ]:
fruits = ['banana', 'apple', 'orange', 'tomato', 'pear', 'grape']

for item in fruits:
    if item == "carrot":
        print("carrot is not a fruit")
        break
    print(item)
else:
    print("fine collection of fruits")

# # convert pound into kilograms

In [3]:
pound_1 = int(input("Enter weight in pounds:"))

weight_kg = pound_1 * 0.454

print(pound_1,"is",weight_kg,"kilograms")

Enter weight in pounds:110
110 is 49.940000000000005 kilograms

# generates a random number (0-10) and ask you to guess it. You have three asserts

In [4]:
from random import randint

# Generates a number from 1 through 10 inclusive

In [10]:
# Define a random_number with randit between 0-10.

random_numbers = randint(1,10)

# Initialize guesses_left to 3.

guesses_left = 3

# Use a while loop to let the user keep guessing so long as guesses_left is greater than zero

while guesses_left > 0:
    guess = int(input("Guess a number:"))
    
    #If they guess correctly, print 'You win!' and break. Decrement guesses_left by one
    
    if guess == random_numbers:
        print("You win")
        break
    guesses_left = guesses_left - 1
    
    # Use an else: case after your while loop to print:You lose.
    
else:
    print("You lose! Sorry try again later")

Guess a number:1
Guess a number:2
Guess a number:3
You lose! Sorry try again later

# for loop that prompts the user for a hobby 3 times, then appends each one to hobbies

In [18]:
hobbies = []
for i in range(0,3):
    hob=input("Enter hobby:")
hobbies.append(hob)
print(hobbies)

Enter hobby:g
Enter hobby:h
Enter hobby:i
['i']

# loop that counts from 0 to 100

In [22]:
counting = 0

while counting <= 10:
    print("The count is", counting)
    counting =counting + 1
else:
    print("wrong number")

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
The count is 6
The count is 7
The count is 8
The count is 9
The count is 10
wrong number

# multiplication table using a loop

In [26]:
n = int(input("Enter a number:"))

for i in range(1,11):
    print(n, "*", i, "=", n*i)

Enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Output the numbers 1 to 10 backwards using a loop

In [33]:
for i in reversed(range(11)):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

# loop that counts all even numbers to 10

In [41]:
for i in range(1,11):
    if i % 2 == 0:
        print(i,"is an even number")
    continue

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

# loop that sums the numbers from 100 to 200

In [46]:
for i in range(100,201):
    sum = sum + 1
print(sum)

20602

In [2]:
# question 25,27,

# print out all even numbers from a given numbers list in the same order and 
# stop the printing if any numbers that come after 237 in the sequence

In [15]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

for i in numbers:
    if i % 2 == 0 and i < 237:
        print("numbers:",i)
else:
    print("List finish!")

numbers: 236
numbers: 162
numbers: 104
numbers: 58
numbers: 24
List finish!

# print out a set containing all the colors from color_list_1 which are not present in color_list_2

In [16]:
color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])

for colors in set(color_list_1 ).difference(set(color_list_2)):
    print(colors)

Black
White

# program that will accept the base and height of a triangle and compute the area

In [18]:
base_of_triangle = int(input("Enter base of triangle:"))
height_of_triangle = int(input("Enter height of triangle:"))

area = height_of_triangle * base_of_triangle / 2

print(area)

Enter base of triangle:20
Enter height of triangle:40
400.0

# compute the greatest common divisor (GCD) of two positive integers.

# also called highest common factor : ie: for 8 and 12 -- 4 is the GCD

#  largest number that divides the given numbers.

In [25]:
from math import gcd

a = int(input("num1: "))
b = int(input("num2: "))

print(gcd(a,b))

num1: 110
num2: 120
10

In [28]:
from math import gcd

In [29]:
from math import gcd

n1 = int(input())
n2 = int(input())
gcd = math.gcd(n1, n2)

def lcm(n, m):
    return n * m / gcd
    
print(int(lcm(n1,n2)))

10
15

NameError: name 'math' is not defined

# sum of three given integers. However, if two values are equal sum will be zero.

In [36]:
x = int(input("enter first number:"))
y = int(input("enter second number:"))
z = int(input("enter third number:"))
num = [x,y,z]

if x == y or y == z or z == x:
    print("SUM is ZERO")
else:
    print(sum(x,y,z))

enter first number:5
enter second number:5
enter third number:4
SUM is ZERO

# sum of two given integers. However, if the sum is between 15 to 20 it will return 20

In [41]:
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
sum = x + y

if  sum>=15 and sum<=20: 
    print("20")
else:
    print("Sum of the two integers is:",sum)

Enter first number:3
Enter second number:4
Sum of the two integers is: 7

# program which will return true if the two given integer values are equal or their sum or difference is 5

In [44]:
x = int(input("Enter 1st number:"))
y = int(input("Enter 2nd number:"))

if x == y or abs(x-y) == 5 or x + y == 5:
    print("True")
else:
    print("False")

Enter 1st number:10
Enter 2nd number:12
False

# add two objects if both objects are an integer type.

In [49]:
input_1 = input("Enter first number:")
input_2 = input("Enter second number:")

if input_1.isdigit() is True and input_2.isdigit() is True:
    print(int(input_1)+int(input_2))
else:
    print("Enter only integers")

Enter first number:1
Enter second number:1
2

# display your details like name, age, address in three different lines.

In [ ]:
name = input("Enter your name:")
age = int(input("Enter your age,ie:23(in numbers):"))
address = input("Enter your address:")

print("Name: {}\nAge: {}\nAddress: {}".format(name, age,address))

In [53]:
print("My name is {name}\nMy age is {age}\nMy address is {address}")

My name is {name}
My age is {age}
My address is {address}