# ARITHMETIC OPERATORS

In [2]:
print(1+2+3 * 5)

18

In [ ]:
# ** is 3 raise to the power of 3

In [3]:
print(3 ** 3)

27

In [5]:
# modulo % - it returns the remainder after you have divided the 1st number by the 2nd

In [6]:
print(9 % 2)

1

In [7]:
# two backward slashes // - divided one integer by the other but rather than giving exact answer it rounds the number

In [8]:
print(45 // 4)

11

In [15]:
print(45/4)

11.25

# VARIABLES

In [11]:
x = 5+6

In [12]:
y = x

In [13]:
print(y)

11

# FLOAT

In [16]:
print(int(44/2))

22

In [17]:
print(float(44/5))

8.8

# BOOLEAN AND COMPARISON OPERATORS

# TRUE OR FALSE VALUES

In [20]:
x = 42 > 44

In [21]:
print(x)

False

In [24]:
age = 17
is_teen = age > 12 and age < 20 
print(is_teen)

True

# STRING INDEX

In [40]:
# First character in a string is at INDEX 0 - ZERO

In [109]:
student_name = "Juhi"

if student_name[0].lower == "j":
    print('Winner name starts with j:', student_name)
elif student_name[0].lower == "a":
    print('Winner name starts with a:', student_name)
else:
    print('Not a match,try again', student_name)

Not a match,try again Juhi

In [57]:
student_name = "Tolga"
print(student_name[0])

T

In [62]:
student_name = "Tolga"
print(student_name, "ends with letter" + " " + student_name[-1] + " " )

Tolga ends with letter a

In [63]:
# T   O   L   G   A
# 0   1   2   3   4
# -5  -4  -3  -2  -1   

# so the above numbers just signify the index at which each string is situated
# negative index starts backwards

#  INDEX SLICING

In [68]:
student_name = "Ankush Khanna"

print(student_name[3:9])

ush Kh

In [71]:
student_name = "Ankush Khanna"

print(student_name[:])

Ankush Khanna

In [72]:
student_name = "Ankush Khanna"

print(student_name[::-1])

annahK hsuknA

In [79]:
word = "Demo"

for letter in word:
    print(letter)

D
e
m
o

In [80]:
company_name = "glispa"

for name in company_name:
    print(name)

g
l
i
s
p
a

In [93]:
# += means I add ----> it is the same like - 
# a = adder(2)
# a += 3
# in A add 3 which will give the following result:
# >>>>>>>>  a = 5

In [95]:
student_name = "Joy"
new_name = ""

for letter in student_name:
    if letter.lower() == "y":
        new_name += letter.upper()
    else:
        new_name += letter
print(student_name,"to",new_name)

Joy to JoY

# Combining string slicing and iteration

In [103]:
word = "Demo"

for letter in word[:]:
    print(letter)

D
e
m
o

In [107]:
word = "Demo"

for letter in word[::-1]:
    print(letter)

o
m
e
D