# FOR/IN

In [1]:
cities = ["Delhi", "Pune", "Mumbai", "New York", "Chicago"]

print(cities)

['Delhi', 'Pune', 'Mumbai', 'New York', 'Chicago']

In [2]:
cities = ["Delhi", "Pune", "Mumbai", "New York", "Chicago"]

for city in cities:
    print(city)

Delhi
Pune
Mumbai
New York
Chicago

In [10]:
sales = [100,200,250,300,400,500,600,650]
total_sales = 0

for dollar in sales:
    total_sales = total_sales + dollar              # same as total_sales += dollar  ---------dollar is just a suitable variable name
   
print("Total Sales in USD:", total_sales)

Total Sales in USD: 3000

# SORT AND FILTER

In [14]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

#An empty string is an object of type string that contains enough data to know that the length of the string is zero.

long_names = ""
short_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        short_names = short_names + bone_name + "\n"
    else:
        long_names = long_names + bone_name + "\n"
        
print("Long bone names:","\n", long_names, "\n")
print("Short bone names:","\n", short_names, "\n")

Long bone names:
 lateral cuneiform
intermediate cuneiform
medial cuneiform


Short bone names:
 calcaneus
talus
cuboid
navicular

# APPEND

In [15]:
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

long_names = []
short_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        short_names.append(bone_name) 
    else:
        long_names.append(bone_name) 
        
print("Long bone names:","\n", long_names, "\n")
print("Short bone names:","\n", short_names, "\n")

Long bone names:
 ['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

Short bone names:
 ['calcaneus', 'talus', 'cuboid', 'navicular']

# COUNT AND SEARCH

In [24]:
# find the letter e and count how many times it appears in the list of cities

cities = ["Delhi", "Pune", "Mumbai", "New York", "Chicago", "Mexico", "Egypt"]
search_word = "e"
total_e = 0

for city_name in cities:
    total_e = total_e + city_name.lower().count(search_word)

print(total_e)
    
print("The total number of", search_word ,"in the city names are:", total_e)

5
The total number of e in the city names are: 5

# BUILD CITY SEARCH FUNCTION USING FOR IN ITERATION

In [ ]:
def city_search(search_item, cities = ["Delhi", "Pune", "Mumbai", "New York", "Chicago", "Mexico", "Egypt"])