In [44]:
mylist = [1,4,6,88,90,2]

In [45]:
mylist

[1, 4, 6, 88, 90, 2]

In [46]:
import numpy as np

# convert list into array

In [47]:
np.array(mylist)

array([ 1,  4,  6, 88, 90,  2])

# arrays v/s list -->main difference--> In arrays,you cannot have different data types, has to be the same data type whereas in list you can have different data types

In [48]:
b = np.array([2,-59.6, True, 'ABC'])

In [49]:
b

array(['2', '-59.6', 'True', 'ABC'], dtype='<U32')

In [50]:
print(b)

['2' '-59.6' 'True' 'ABC']

# above statement converted everything to string because it already had a string and you cannot have multiple data types in an array

# pop - pops out a number from the list - mylist.Press Tab

In [51]:
 mylist.pop()

2

In [52]:
mylist

[1, 4, 6, 88, 90]

# array - variable name.press tab will show you a list of functions available

In [53]:
c = np.array([2,5,6,7,8,9,545,6,6,77])

In [54]:
c

array([  2,   5,   6,   7,   8,   9, 545,   6,   6,  77])

In [55]:
c.mean()

67.1

In [56]:
c.round()

array([  2,   5,   6,   7,   8,   9, 545,   6,   6,  77])

In [57]:
c.max()

545

In [58]:
c.min()

2

# SLICING ARRAYS

In [67]:
a = [-1,-2, 0, 1,3, 4]

In [68]:
a

[-1, -2, 0, 1, 3, 4]

In [69]:
a[1:]

[-2, 0, 1, 3, 4]

In [70]:
a[2:]

[0, 1, 3, 4]

In [71]:
a[::2]

[-1, 0, 3]

In [72]:
c

array([  2,   5,   6,   7,   8,   9, 545,   6,   6,  77])

In [76]:
# [ : ] will give you all the elements of the array 
c[:]

array([  2,   5,   6,   7,   8,   9, 545,   6,   6,  77])

In [75]:
c[2:4]

array([6, 7])

In [77]:
c[:2]

array([2, 5])

In [78]:
c[3:]

array([  7,   8,   9, 545,   6,   6,  77])

In [91]:
d = c[3:6]

In [81]:
d

array([7, 8, 9])

In [82]:
d[0]

7

In [83]:
d[1]

8

In [84]:
d[:2]

array([7, 8])

In [85]:
d[:]

array([7, 8, 9])

In [86]:
d[:] = 101

In [87]:
d[:]

array([101, 101, 101])

In [88]:
c

array([  2,   5,   6, 101, 101, 101, 545,   6,   6,  77])

# slicing d = c[3:6] - everything from position 3 to 6 is now 101 as we sliced the array

# slicing a list creates a copy of that list, slicing an array creates  a view of that array ( not a copy )